NODE_ENV=development

# Database
DATABASE_URL="postgresql://postgres:mysecretpassword@localhost:5432/postgres"

# Redis
REDIS_URL="redis://localhost:6379"

# Better Auth
BETTER_AUTH_URL=

# Google
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=